body {
  background-color: black;
}

.menu {
	margin: 0px;
	padding: 0px;
	color: #000;
	width: 220px;
	list-style: none;
  background-color: green;
  font-weight: bold;
}
.menu li {
	padding: 2px 2px 0px 0px;
	margin: 0px;
}
.menu li a, .menu li a:visited {
	margin: 0px;
	padding: 3px 3px;
	color: #fff;
	display: block;
	border: #ccc 2px solid;
	background: #666;
	text-decoration: none;
}
.menu li a:hover {
	color: #000;
	background: #ccc;
	border: #000 2px solid;
}